<header id="head">
	<figure id="logo"></figure>
	<nav class="menu" ng-controller="MenuController as menu">
		<ul>
			<li ng-repeat="item in menu.items"><a href=""><i class="icon" ng-class="'icon_actions-'+item.name"></i><span>{{ item.text }}</span></a></li>
		</ul>
	</nav>
	<menu class="actions" ng-controller="MenuActionController as action">
		<button type="button" ng-repeat="action in action.actions" ng-click="action.clicked()"><i class="icon" ng-class="'icon_actions-'+action.name"></i></button>
	</menu>
</header>
