@import "../vars"

.list
	reset()
	position: relative
	list-style: none

	margin: 0 distance.far

	li
		position: relative
		box-sizing: border-box
		enable3d()
		fastTransition()
		cursor: pointer
		float: left
		width: 100%

	&.big
		&.img li
			margin: distance.narrow + distance.close 0
			height: size.bigger

			border-radius: size.bigger * 0.5

			.img
				position: absolute
				width: size.bigger
				height: size.bigger
				background-color: #2ba3c4
				border-radius: 50%
				border: distance.narrow solid color.light
				margin: - distance.narrow
				enable3d()

			h2
				position: absolute
				left: size.bigger + distance.far + distance.narrow
				font-weight: normal
				font-size: font.big
				margin: 0
				padding: 0
				line-height: 1em
				height: 1em
				bottom: 50%

			p
				position: absolute
				left: size.bigger + distance.far + distance.narrow
				bottom: 0
				height: size.bigger * 0.5
				line-height: size.bigger * 0.5
				font-size: font.small
				margin: 0
				padding: 0
				i
					font-size: font.smallIcon
					vertical-align: text-top

		&.clickable .clickBox
			position: absolute
			top: - distance.narrow - distance.close
			bottom: - distance.narrow - distance.close
			left: 0
			right: 0
			cursor: pointer

	&.clickable
		li
			&.active
				background-color: color.darkGray
				color: color.light

				.img
					-webkit-animation-duration: speed.slow * 2;
					animation-duration: speed.slow * 2;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					-webkit-animation-name: pulse;
					animation-name: pulse;
