@import "../vars"

body
	reset()
	font-family: font.type
	font-size: font.normal
	cursor: default
	color: color.dark
	background-color: color.light
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	overflow: hidden
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased

input
	position: relative
	border: none
	border-bottom: size.border solid color.darkGray;
	color: color.darkGray
	font-family: font.type
	font-size: font.normal
	display: inline-block
	box-sizing: border-box
	width: auto
	height: size.normal
	padding-left: distance.narrow + distance.close + size.icon
	outline: none
	background: transparent url('../../img/magIcon.svg') no-repeat distance.narrow (size.normal - size.icon)*0.5
	flex-grow: 1
	enable3d()
	slowTransition()

input:focus
	box-shadow: 0 size.border 0 color.darkGray

.icon
	font-size: size.icon

@import "search"
@import "list"
