@import "../vars"

body
	reset()
	font-family: font.type
	font-size: font.normal
	cursor: default
	color: color.dark
	background-color: color.light
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	overflow: hidden
