.mainSearch
	position: relative
	display: flex
	width: auto
	height: size.big
	top: 0
	left: 0
	right: 0
	shadow()
	box-sizing: border-box
	padding: (size.big - size.normal)*0.5 distance.far

	button
		position: relative
		reset()
		fastTransition()
		margin-left: distance.far
		width: auto
		height: size.normal
		display: inline-block
		box-sizing: border-box
		background: none
		border: size.border solid transparent
		border-radius: size.normal*0.5 + 1px
		cursor: pointer
		outline: none

		text-align: center
		line-height: size.normal - size.border*2
		color: color.green

		padding: 0 size.normal * 0.5 - size.border

		font-family: font.type
		font-size: font.normal

		enable3d()

		i
			position: relative
			top: -1px
			display: inline-block
			margin: 0 (- size.border) 0 (-0.5 * size.normal)
			padding: 0

			width: size.normal
			height: size.normal - size.border*2
			text-align: center
			line-height: inherit

		&:hover
			border-color: color.green
		&:active
			background: color.green
			color: color.light
