@import "../vars"

.actions
	position: absolute
	reset()
	right: distance.far + distance.close
	left: auto
	width: auto
	height: size.normal
	top: (size.big - size.normal)*0.5
	bottom: (size.big - size.normal)*0.5

	button
		position: relative
		reset()
		fastTransition()
		margin-left: distance.close
		width: size.normal
		height: size.normal
		display: inline-block
		box-sizing: border-box
		background: none
		border: size.border solid transparent
		border-radius: size.normal*0.5 + 1px
		cursor: pointer
		outline: none

		text-align: center
		line-height: 1em
		color: color.darkGray

		&:hover
			border-color: color.darkGray
		&:active
			background: color.darkGray
			color: color.light
