@import "../vars"

.actions
	position: absolute
	right: far + close
	left: auto
	width: auto
	height: normal
	top: close
	bottom: close

	button
		position: relative
		width: normal - 1px
		height: normal - 1px
		display: inline-block
		box-sizing: border-box
