@import "../vars"

.menu
	position: absolute
	reset()
	left: 50%
	top: (size.big - size.normal)*0.5
	bottom: (size.big - size.normal)*0.5
	width: auto
	height: size.normal
		
	ul
		position: relative
		width: auto
		height: 100%
		top: 0
		left: -50%
		right: 50%
		list-style: none
		
		overflow: visible
		
		border-radius: size.normal*0.5 + 1px
		
		&, li
			reset()
		
		li
			position: relative
			display: inline-block
			width: auto
			height: 100%
			
			border-radius: inherit
			
			overflow: visible
			
			z-index: 0
			
			a
				position: relative
				
				border-radius: inherit
				
				display: block
				box-sizing: border-box
				color: color.darkGray
				text-decoration: none
				width: auto
				height: 100%
				top: 0
				left: 0
				
				line-height: size.normal
				padding-right: size.icon
				padding-left: size.normal
				
				fastTransition()
				
				i
					width: size.icon
					height: size.icon
					text-align: center
					vertical-align: middle
					position: absolute
					
					surrounding = size.normal*0.5 - size.icon*0.5
					
					top: surrounding
					left: surrounding
				
				span
					position: relative
				
				.bg
					position: absolute
					top: 0
					left: 50%
					right: 50%
					bottom: 0
					width: auto
					height: auto
					background-color: color.darkGray
					border-radius: inherit
					bounceTransition()
		
			&:first-child a .bg
				left: 100%
				right: (- size.normal)
			
			&:last-child a .bg
				left: (- size.normal)
				right: 100%
			
			&.active
				z-index: 1
				a
					color: color.light
					.bg
						left: 0
						right: 0
