@import "vars"

#head
	#logo
		reset()
		position: absolute
		top: 15px
		left: 30px
		width: 77px
		height: 20px
		cursor: pointer
		z-index: 2
		background-image: url("../img/logo.svg")

	@import "head/actions"

	@import "head/menu"
