@import "vars"

body
	reset()
	font-family: font.type
	font-size: font.normal
	cursor: default
	background-color: color.lightGray
	color: color.dark
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	overflow: hidden
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased

#head
	background-color: color.light
	position: absolute
	top: 0
	left: 0
	width: auto
	right: 0
	height: size.big
	shadow: bottom

	z-index: 2

#content
	position: absolute
	top: size.big
	bottom: 0
	left: 0
	right: 0
	width: auto
	height: auto

	z-index: 0

#breadcrumb
	@extend #head
	shadow: top
	top: auto
	bottom: 0
	height: size.normal

	z-index: 1

.icon
	font-size: size.icon
