// FONTS:

font = {
	type: 'Roboto Light'\, Helvetica\, Arial\, serif
	// font sizes optimized to fit inside their correspondent size-box:
	big: 20px
	normal: 15px
	small: 12px
}

// COLORS:

color = {
	// 4-color symmetric monochrome palette:
	light: #fafafa
	lightGray: #d9d9d9
	darkGray: #555555
	dark: #151515
	// true colors: all sharing the same saturation and brightness
	green: #89c42c
}

// DISTANCES:

distance = {
	// 0.5 factor for element distances:
	far: 20px
	close: 10px
	narrow: 5px
}

// SIZES:

size = {
	// this size does not match the factor based sizing pattern - used for big lists because 2*big would be too big:
	bigger: 70px
	// 0.6 factor sizes for block elements:
	big: 50px
	normal: 30px
	small: 18px
	// 0.5 factor sizes for decoration elements:
	icon: 16px
	radius: 2px
	border: 1px
}

// CONTENT:

paneCount = 2

// SPEEDS:

speed = {
	slow: 0.1s
	fast: 0.05s
}

// MIXINS:

reset()
	margin: 0
	padding: 0
	-webkit-appearance: none
	-moz-apperance: none
	apperance: none

box-shadow()
	-moz-box-shadow: arguments
	box-shadow: arguments

shadow(pos = "bottom")
	box-shadow: 0px (pos == "top"?-1px:1px) 3px 0px rgba(0,0,0,0.15)

darkShadow()
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);

gradient(dir, colorA, colorB)
	background-image: -webkit-linear-gradient(dir, colorA 0%, colorB 100%);
	background-image: -moz-linear-gradient(dir, colorA 0%, colorB 100%);
	background-image: -ms-linear-gradient(dir, colorA 0%, colorB 100%);
	if(dir == "left")
		dirInverse = "to right"
	else if(dir == "right")
		dirInverse = "to left"
	else if(dir == "top")
		dirInverse = "to bottom"
	else
		dirInverse = "to top"
	background-image: linear-gradient(dirInverse, colorA 0%, colorB 100%);

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-o-transition: arguments
	-ms-transition: arguments
	transition: arguments

fastTransition()
	transition: all speed.fast linear

slowTransition()
	transition: all speed.slow linear

bounceTransition()
	transition: all speed.slow*2 cubic-bezier(.36,.02,.35,1.5)

transform()
	-webkit-transform: arguments
	-moz-transform: arguments
	-o-transform: arguments
	-ms-transform: arguments
	transform: arguments

enable3d()
	transform: translate3d(0,0,0)
	p = 1500px
	-webkit-perspective: p
	-moz-perspective: p
	-o-perspective: p
	-ms-perspective: p
	perspective: p
