// FONTS:

font = {
	type: 'Roboto Light'\, Helvetica\, Arial\, serif
	big: 20px
	normal: 15px
	small: 12px
}

// COLORS:

color = {
	light: #fafafa
	lightGray: #d9d9d9
	darkGray: #555555
	dark: #151515
}

// DISTANCES:

distance = {
	far: 20px
	close: 10px
	narrow: 5px
}

// SIZES:

size = {
	big: 50px
	normal: 30px
	small: 18px
	border: 1px,
	radius: 2px
	icon: 16px
}

// CONTENT:

paneCount = 2

// SPEEDS:

speed = {
	slow: 0.1s
	fast: 0.05s
}

// MIXINS:

reset()
	margin: 0
	padding: 0
	-webkit-appearance: none
	-moz-apperance: none
	apperance: none

box-shadow()
	-moz-box-shadow: arguments
	box-shadow: arguments

shadow(pos = "bottom")
	box-shadow: 0px (pos == "top"?-1px:1px) 3px 0px rgba(0,0,0,0.15)

darkShadow()
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-o-transition: arguments
	-ms-transition: arguments
	transition: arguments

fastTransition()
	transition: all speed.fast linear 0s

slowTransition()
	transition: all speed.slow linear 0s

bounceTransition()
	transition: all speed.slow cubic-bezier(.36,.02,.35,2)

transform()
	-webkit-transform: arguments
	-moz-transform: arguments
	-o-transform: arguments
	-ms-transform: arguments
	transform: arguments
